#ignore all jupyter notebook checkpoints
*.ipynb
*.ipynb_checkpoints

# ignore all the images in website
*.png
*.jpg
*.svg
*.pyc
*.jpeg

# ignore the json file
*.json

# ignore all the databases
instance/
*.db_sqlite3

# my secrets
.env

# ignore my virtual environment
.venv/
*__pycache__

# ignore all the logs
# logs/**/*.log
# logs/**/*.json

docs/
